root {
    --clr-yellow :#F4D04E;
    --clr-gray-950: #111111;
    --clr-gray-500 : #6B6B6B;
    --clr-white: #FFFFFF;

    --ff: "Figtree", serif;

    --fw-heading: 800;
    --fw-body: 500;

    --fs-heading: 1.5rem;
    --fs-body: 1rem;
    --fs-body-mobile: 0.875rem;

    --lh-heading: 1.5;
    --lh-body: 1.5;
    --ls: 0;

    --space-300: 24px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;

}