:root {
    --clr-yellow :#F4D04E;
    --clr-gray-950: #111111;
    --clr-gray-500 : #6B6B6B;
    --clr-white: #FFFFFF;

    --ff-body: "Figtree", serif;

    --fw-heading: 800;
    --fw-body: 500;

    --fs-heading: 1.5rem;
    --fs-body: 1rem;
    --fs-category: 0.875rem;
    --fs-body-mobile: 0.875rem;

    --lh-body: 1.5;
    --ls-body: 0;

    --space-300: 24px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;

}
/* General Styling */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-yellow);
    color: var(--clr-gray-950);
    font-family: var(--ff-body);
    font-weight: var(--fw-body);
    font-size: clamp(var(--fs-body-mobile), 2vw, var(--fs-body));
    line-height: var(--lh-body);
    letter-spacing: var(--ls-body);
}

h1, ul, li {
    margin: 0;
}

img {
    max-width: 100%;
}

/* Reusable classes */
.container {
    background-color: #fff;
    border: 1px solid var(--clr-gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px 0 0 #000000;
    width: 100%;
    max-width: 384px;
    margin: 0 auto;
    padding: var(--space-300);
    margin-bottom: 3em;
}

.row {
    display: flex;
}

.col + .col {
    margin-left: 1em;
}

/* Custom styling */
.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.blog-card__img {
    border-radius: 5px;
    margin-bottom: var(--space-300);
}

.blog-card__cat {
    background-color: var(--clr-yellow);
    display: inline-block;
    padding: var(--space-50) var(--space-150);
    font-weight: var(--fw-heading);
    font-size: var(--fs-category);
    border-radius: 4px;
}

.blog-card__date {
    margin: 0;
}

.blog-card__title {
    font-weight: var(--fw-heading);
    font-size: var(--fs-heading);
    margin: var(--space-300) 0;
}

.blog-card__title:hover,
.blog-card__title:focus {
    color: var(--clr-yellow);
}

.blog-card__desc {
    color: var(--clr-gray-500);
}

.blog-card__name {
    font-weight: var(--fw-heading);
}

